.login-form {
    max-width: 300px;
  }
  
  .login-form-margin {
    margin-bottom: 16px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  
  
  
  [nz-menu] {
    line-height: 64px;
  }
  
  nz-breadcrumb {
    margin: 16px 0;
  }
  
  nz-content {
    padding: 0 50px;
  }
  

  
  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  
  .wrapper {
    width: 240px;
  }
  
 
  button {
    margin-bottom: 12px;
  }
  