<nz-list nzItemLayout="vertical">
    <nz-list-item *ngFor="let item of currentCart">
        <nz-list-item-meta>
            <nz-list-item-meta-avatar [nzSrc]="item.image"> </nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
                <a>{{ item.name }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
                {{ item.description }}
            </nz-list-item-meta-description>
        </nz-list-item-meta>

        <ul nz-list-item-actions>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;" (click)="eliminar(item)"></i> Delete {{item.price |currency}}</nz-list-item-action>
        </ul>
    </nz-list-item>
</nz-list>